In [60]:
import csv 

with open('hlahd_d6_old.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)

print(data)

[['GSM3768244', 'A*30:12', 'A*11:35', 'A*30:18', 'A*11:35', 'B*54:20', 'B*07:13', 'C*04:01:01', 'DRB1*01:01:01', 'DQA1*01:01:01', 'DQB1*05:01:01', 'DPA1*01:03:01', 'DPB1*02:01:02', 'DMA*01:02', 'DMB*01:01:01', 'DOA*01:01:01', 'DOA*01:01:03', 'DOB*01:01:01', 'DOB*01:01:03', 'DRA*01:01:01', 'DRB3*02:10', 'DRB3*02:26', 'DRB5*02:05', 'DRB5*01:13', 'DRB8*01:01', 'E*01:01:01', 'F*01:01:01', 'L*01:01:02', 'L*01:02', 'V*01:01:01', ''], ['GSM3768245', 'B*54:20', 'B*07:13', 'C*04:01:01', 'DRB1*01:01:01', 'DQA1*01:01:01', 'DQB1*05:01:01', 'DPA1*01:03:01', 'DPB1*02:01:02', 'DMA*01:02', 'DMB*01:01:01', 'DOA*01:01:01', 'DOA*01:01:03', 'DOB*01:01:01', 'DRA*01:01:01', 'DRB3*02:10', 'DRB3*02:03', 'DRB5*02:05', 'DRB5*01:13', 'DRB8*01:01', 'E*01:01:01', 'F*01:01:01', 'L*01:01:02', 'L*01:02', ''], ['GSM3768246', 'A*30:12', 'A*34:06', 'A*30:18', 'A*34:06', 'B*54:20', 'B*07:13', 'C*04:01:01', 'DRB1*01:01:01', 'DQA1*01:01:01', 'DQB1*05:01:01', 'DPA1*01:03:01', 'DPB1*02:01:02', 'DMA*01:02', 'DMB*01:01:01', 'DOA*01:01:01', 'DOA*01:01:03', 'DOB*01:01:01', 'DOB*01:01:03', 'DRA*01:01:01', 'DRB3*02:10', 'DRB3*02:03', 'DRB5*02:05', 'DRB5*01:13', 'DRB8*01:01', 'E*01:01:01', 'F*01:01:01', 'L*01:01:02', 'L*01:02', ''], ['GSM3768247', 'A*30:12', 'A*11:08', 'A*30:18', 'A*11:08', 'B*67:02', 'B*07:13', 'C*04:01:01', 'DRB1*01:01:01', 'DQA1*01:01:01', 'DQB1*05:01:01', 'DPA1*01:03:01', 'DPB1*02:01:02', 'DMA*01:02', 'DMB*01:01:01', 'DOA*01:01:01', 'DOA*01:04N', 'DOB*01:01:01', 'DRA*01:01:01', 'DRB3*02:10', 'DRB3*02:03', 'DRB5*02:05', 'DRB5*01:13', 'DRB8*01:01', 'E*01:01:01', 'F*01:01:01', 'L*01:01:02', ''], ['GSM3768248', 'A*34:02:02', 'B*07:13', 'B*67:02', 'C*07:01:01', 'DRB1*01:01:01', 'DQA1*01:01:01', 'DQB1*05:01:01', 'DPA1*01:03:01', 'DPB1*02:01:02', 'DMA*01:02', 'DMB*01:01:01', 'DOA*01:01:01', 'DOB*01:01:01', 'DRA*01:01:01', 'DRB2*01:01', 'DRB3*02:10', 'DRB3*02:26', 'DRB5*02:05', 'DRB5*01:13', 'DRB8*01:01', 'E*01:01:01', 'F*01:01:01', 'L*01:01:01', 'L*01:01:02', ''], ['GSM3768249', 'A*11:35', 'B*07:13', 'B*67:02', 'C*07:01:01', 'DRB1*01:01:01', 'DQA1*01:01:01', 'DQB1*05:01:01', 'DPA1*01:03:01', 'DPB1*02:01:02', 'DMA*01:02', 'DMB*01:01:01', 'DOA*01:01:01', 'DOA*01:01:03', 'DOB*01:01:01', 'DRA*01:01:01', 'DRB3*02:10', 'DRB3*02:26', 'DRB5*02:05', 'DRB5*01:13', 'DRB8*01:01', 'E*01:01:01', 'F*01:01:01', 'L*01:01:01', 'V*01:01:01', ''], ['GSM3768250', 'A*11:35', 'B*67:02', 'B*07:13', 'C*07:01:01', 'DRB1*01:01:01', 'DQA1*01:01:01', 'DQB1*05:01:01', 'DPA1*01:03:01', 'DPB1*02:01:02', 'DMA*01:02', 'DMB*01:01:01', 'DOA*01:01:01', 'DOB*01:01:01', 'DRA*01:01:01', 'DRB3*02:10', 'DRB3*02:26', 'DRB5*02:05', 'DRB5*01:13', 'DRB8*01:01', 'E*01:01:01', 'F*01:01:01', 'L*01:01:01', ''], ['GSM3768251', 'A*11:04', 'B*07:13', 'B*67:02', 'C*07:01:01', 'C*07:153', 'DRB1*01:01:01', 'DQA1*01:01:01', 'DQB1*05:01:01', 'DPA1*01:03:01', 'DPB1*02:01:02', 'DMA*01:02', 'DMB*01:01:01', 'DOA*01:01:01', 'DOB*01:01:01', 'DRA*01:01:01', 'DRB3*02:10', 'DRB3*02:26', 'DRB5*02:05', 'DRB5*01:13', 'DRB8*01:01', 'E*01:01:01', 'F*01:01:01', 'L*01:01:01', '']]

In [61]:
new_data = [['ERR', 'A', 'A.1', 'B', 'B.1', 'C', 'C.1', 'DRB1', 'DRB1.1', 'DQB1', 'DQB1.1']]
for line in data:
    l = [x for x in line if x.startswith('A*') or x.startswith('B*') or x.startswith('C*') or x.startswith('DQB1') or x.startswith('DRB1')]
    l.insert(0,line[0])
    try:
        if len(l) != 11:
            if (l[1][0] != 'A'):
                l.insert(1,'NA')
            if (l[2][0] != 'A'):
                l.insert(2,'NA')
            if (l[3][0] != 'B'):
                l.insert(3,'NA')
            if (l[4][0] != 'B'):
                l.insert(4,'NA')
            if (l[5][0] != 'C'):
                l.insert(5,'NA')
            if (l[6][0] != 'C'):
                l.insert(6,'NA')
            if (l[7][0:2] != 'DR'):
                l.insert(7,'NA')
            if (l[8][0:2] != 'DR'):
                l.insert(8,'NA')
            if (l[9][0:2] != 'DQ'):
                l.insert(7,'NA')
            if (l[10][0:2] != 'DQ'):
                l.insert(8,'NA')

    except:
        while len(l) != 11:
                l.insert(10,'NA')
        
    new_data.append(l)
print(new_data)

[['ERR', 'A', 'A.1', 'B', 'B.1', 'C', 'C.1', 'DRB1', 'DRB1.1', 'DQB1', 'DQB1.1'], ['GSM3768244', 'A*30:12', 'A*11:35', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'A*30:18', 'A*11:35', 'B*54:20', 'B*07:13', 'C*04:01:01', 'DRB1*01:01:01', 'DQB1*05:01:01'], ['GSM3768245', 'NA', 'NA', 'B*54:20', 'B*07:13', 'C*04:01:01', 'NA', 'DRB1*01:01:01', 'NA', 'DQB1*05:01:01', 'NA'], ['GSM3768246', 'A*30:12', 'A*34:06', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'A*30:18', 'A*34:06', 'B*54:20', 'B*07:13', 'C*04:01:01', 'DRB1*01:01:01', 'DQB1*05:01:01'], ['GSM3768247', 'A*30:12', 'A*11:08', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'A*30:18', 'A*11:08', 'B*67:02', 'B*07:13', 'C*04:01:01', 'DRB1*01:01:01', 'DQB1*05:01:01'], ['GSM3768248', 'A*34:02:02', 'NA', 'B*07:13', 'B*67:02', 'C*07:01:01', 'NA', 'DRB1*01:01:01', 'NA', 'DQB1*05:01:01', 'NA'], ['GSM3768249', 'A*11:35', 'NA', 'B*07:13', 'B*67:02', 'C*07:01:01', 'NA', 'DRB1*01:01:01', 'NA', 'DQB1*05:01:01', 'NA'], ['GSM3768250', 'A*11:35', 'NA', 'B*67:02', 'B*07:13', 'C*07:01:01', 'NA', 'DRB1*01:01:01', 'NA', 'DQB1*05:01:01', 'NA'], ['GSM3768251', 'A*11:04', 'NA', 'B*07:13', 'B*67:02', 'C*07:01:01', 'C*07:153', 'DRB1*01:01:01', 'NA', 'DQB1*05:01:01', 'NA']]

In [62]:
import pandas as pd
df = pd.DataFrame(new_data)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,ERR,A,A.1,B,B.1,C,C.1,DRB1,DRB1.1,DQB1,DQB1.1,None,None,None,None,None,None,None
1,GSM3768244,A*30:12,A*11:35,NA,NA,NA,NA,NA,NA,NA,NA,A*30:18,A*11:35,B*54:20,B*07:13,C*04:01:01,DRB1*01:01:01,DQB1*05:01:01
2,GSM3768245,NA,NA,B*54:20,B*07:13,C*04:01:01,NA,DRB1*01:01:01,NA,DQB1*05:01:01,NA,None,None,None,None,None,None,None
3,GSM3768246,A*30:12,A*34:06,NA,NA,NA,NA,NA,NA,NA,NA,A*30:18,A*34:06,B*54:20,B*07:13,C*04:01:01,DRB1*01:01:01,DQB1*05:01:01
4,GSM3768247,A*30:12,A*11:08,NA,NA,NA,NA,NA,NA,NA,NA,A*30:18,A*11:08,B*67:02,B*07:13,C*04:01:01,DRB1*01:01:01,DQB1*05:01:01
5,GSM3768248,A*34:02:02,NA,B*07:13,B*67:02,C*07:01:01,NA,DRB1*01:01:01,NA,DQB1*05:01:01,NA,None,None,None,None,None,None,None
6,GSM3768249,A*11:35,NA,B*07:13,B*67:02,C*07:01:01,NA,DRB1*01:01:01,NA,DQB1*05:01:01,NA,None,None,None,None,None,None,None
7,GSM3768250,A*11:35,NA,B*67:02,B*07:13,C*07:01:01,NA,DRB1*01:01:01,NA,DQB1*05:01:01,NA,None,None,None,None,None,None,None
8,GSM3768251,A*11:04,NA,B*07:13,B*67:02,C*07:01:01,C*07:153,DRB1*01:01:01,NA,DQB1*05:01:01,NA,None,None,None,None,None,None,None

In [63]:
df.to_csv('hlahd_d6.csv',index=False)