In [15]:
import csv 

with open('../read_length/standard/hlahd_76.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)

print(data)

[['SRR13280655', 'A*02:01:01', 'A*03:01:01', 'B*40:01:02', 'B*15:01:01', 'C*03:04:01', 'C*12:04:01', 'DRB1*03:01:01', 'DRB1*04:01:01', 'DQA1*05:01:01', 'DQA1*03:01:01', 'DQB1*03:02:01', 'DQB1*02:01:01', 'DPA1*01:03:01', 'DPB1*03:01:01', 'DPB1*04:01:01', 'DMA*01:01:01', 'DMA*01:03', 'DMB*01:07', 'DMB*01:01:01', 'DOA*01:01:01', 'DOB*01:02:01', 'DOB*01:01:03', 'DRA*01:01:01', 'DRA*01:02:02', 'DRB3*01:08', 'DRB3*01:15', 'DRB4*01:03:01', 'DRB4*01:03:04', 'DRB5*01:14', 'DRB8*01:01', 'E*01:03:02', 'F*01:03:01', 'F*01:01:01', 'H*02:04', 'H*01:01:01', 'K*01:02', 'K*01:01:01', 'L*01:01:01', ''], ['SRR13280666', 'A*02:01:01', 'A*03:01:01', 'B*35:01:01', 'B*44:09', 'C*04:01:01', 'C*05:01:01', 'DRB1*04:01:01', 'DRB1*01:01:01', 'DQA1*03:03:01', 'DQA1*01:01:01', 'DQB1*05:01:01', 'DQB1*03:01:01', 'DPA1*01:03:01', 'DPB1*03:01:01', 'DPB1*04:01:01', 'DMA*01:01:01', 'DMB*01:03:01', 'DOA*01:01:04', 'DOA*01:01:01', 'DOB*01:01:01', 'DRA*01:01:01', 'DRB3*01:15', 'DRB4*01:03:01', 'DRB4*01:03:04', 'DRB5*01:14', 'DRB8*01:01', 'E*01:01:01', 'E*01:06', 'F*01:03:01', 'F*01:01:01', 'H*02:04', 'H*01:01:01', 'K*01:02', 'K*01:01:01', 'L*01:01:01', 'L*01:01:02', ''], ['SRR13280675', 'A*02:01:01', 'A*03:12', 'B*07:02:01', 'B*15:01:01', 'C*03:03:01', 'C*07:02:01', 'DRB1*04:01:01', 'DRB1*14:54:01', 'DQA1*03:01:01', 'DQA1*01:07', 'DQB1*05:03:01', 'DQB1*03:02:01', 'DPA1*01:03:01', 'DPB1*04:01:01', 'DMA*01:01:01', 'DMB*01:01:01', 'DOA*01:01:01', 'DOB*01:01:01', 'DRA*01:01:01', 'DRB3*02:27', 'DRB3*02:10', 'DRB4*01:03:01', 'DRB4*01:03:04', 'DRB5*01:14', 'DRB8*01:01', 'E*01:03:02', 'F*01:03:01', 'F*01:01:01', 'H*02:04', 'H*01:01:01', 'K*01:02', 'K*01:01:01', 'L*01:01:01', ''], ['SRR13280683', 'A*02:01:01', 'B*15:01:01', 'B*57:01:01', 'C*06:02:01', 'C*03:04:01', 'DRB1*04:01:01', 'DQA1*03:03:01', 'DQA1*03:01:01', 'DQB1*03:02:01', 'DQB1*03:01:01', 'DPA1*01:03:01', 'DPB1*03:01:01', 'DPB1*04:02:01', 'DMA*01:01:01', 'DMB*01:05', 'DMB*01:01:01', 'DOA*01:01:04', 'DOB*01:02:01', 'DOB*01:01:01', 'DRA*01:01:01', 'DRB3*01:15', 'DRB4*01:03:01', 'DRB5*01:14', 'DRB5*01:01:02', 'DRB8*01:01', 'E*01:01:01', 'E*01:03:02', 'F*01:01:01', 'H*01:01:01', 'H*01:02', 'K*01:02', 'L*01:01:01', ''], ['SRR5252837', 'A*11:01:01', 'A*02:01:01', 'B*18:01:01', 'B*27:05:02', 'C*01:85', 'C*07:01:01', 'DRB1*13:01:01', 'DRB1*01:01:01', 'DQA1*01:03:01', 'DQA1*01:01:01', 'DQB1*06:03:01', 'DQB1*05:01:01', 'DPA1*01:03:01', 'DPB1*02:01:02', 'DPB1*23:01', 'DMA*01:02', 'DMB*01:01:01', 'DOA*01:01:01', 'DOB*01:01:01', 'DRA*01:01:01', 'DRA*01:02:02', 'DRB3*01:01:02', 'E*01:03:02', 'E*01:01:01', 'F*01:01:02', 'F*01:01:01', 'H*02:01:01', 'H*02:04', 'J*01:01:01', 'K*01:02', ''], ['SRR5252845', 'A*26:16', 'A*02:01:01', 'B*40:01:02', 'B*51:01:01', 'C*03:04:01', 'C*14:02:01', 'DRB1*15:10', 'DRB1*13:09', 'DQA1*01:02:01', 'DQA1*01:03:01', 'DQB1*06:03:01', 'DQB1*06:02:01', 'DPA1*01:03:01', 'DPB1*04:01:01', 'DMA*01:01:01', 'DMB*01:03:01', 'DOA*01:01:04', 'DOB*01:04:01', 'DRA*01:02:03', 'DRA*01:02:02', 'DRB5*01:11', 'E*01:01:01', 'E*01:03:02', 'F*01:01:01', 'K*01:02', 'K*01:01:01', 'L*01:01:01', 'L*01:02', 'L*01:01:02', 'L*01:02', ''], ['SRR5252859', 'A*03:01:01', 'A*01:01:01', 'B*08:01:01', 'B*35:01:01', 'C*04:01:01', 'C*07:01:01', 'DPA1*01:03:01', 'DPA1*02:01:02', 'DPB1*13:01:01', 'DMA*01:01:01', 'DOB*01:02:01', 'DOB*01:01:03', 'E*01:06', 'E*01:03:05', 'F*01:01:03', 'F*01:03:01', 'K*01:01:01', 'K*01:01:01', ''], ['SRR5252860', 'A*03:12', 'A*01:01:01', 'B*08:01:11', 'B*07:02:03', 'C*07:16', 'C*07:02:01', 'DRB1*08:45', 'DQB1*04:02:01', 'DPA1*01:03:01', 'DMA*01:01:01', 'DOB*01:01:01', 'DRA*01:02:02', 'E*01:01:01', 'E*01:03:02', 'F*01:03:01', 'F*01:01:01', 'F*01:03:01', 'F*01:01:02', '']]

In [16]:
new_data = [['ERR', 'A', 'A.1', 'B', 'B.1', 'C', 'C.1', 'DRB1', 'DRB1.1', 'DQB1', 'DQB1.1']]
for line in data:
    l = [x for x in line if x.startswith('A*') or x.startswith('B*') or x.startswith('C*') or x.startswith('DQB1') or x.startswith('DRB1')]
    l.insert(0,line[0])
    try:
        if len(l) != 11:
            if (l[1][0] != 'A'):
                l.insert(1,'NA')
            if (l[2][0] != 'A'):
                l.insert(2,'NA')
            if (l[3][0] != 'B'):
                l.insert(3,'NA')
            if (l[4][0] != 'B'):
                l.insert(4,'NA')
            if (l[5][0] != 'C'):
                l.insert(5,'NA')
            if (l[6][0] != 'C'):
                l.insert(6,'NA')
            if (l[7][0:2] != 'DR'):
                l.insert(7,'NA')
            if (l[8][0:2] != 'DR'):
                l.insert(8,'NA')
            if (l[9][0:2] != 'DQ'):
                l.insert(7,'NA')
            if (l[10][0:2] != 'DQ'):
                l.insert(8,'NA')

    except:
        while len(l) != 11:
                l.insert(10,'NA')
        
    new_data.append(l)
print(new_data)

[['ERR', 'A', 'A.1', 'B', 'B.1', 'C', 'C.1', 'DRB1', 'DRB1.1', 'DQB1', 'DQB1.1'], ['SRR13280655', 'A*02:01:01', 'A*03:01:01', 'B*40:01:02', 'B*15:01:01', 'C*03:04:01', 'C*12:04:01', 'DRB1*03:01:01', 'DRB1*04:01:01', 'DQB1*03:02:01', 'DQB1*02:01:01'], ['SRR13280666', 'A*02:01:01', 'A*03:01:01', 'B*35:01:01', 'B*44:09', 'C*04:01:01', 'C*05:01:01', 'DRB1*04:01:01', 'DRB1*01:01:01', 'DQB1*05:01:01', 'DQB1*03:01:01'], ['SRR13280675', 'A*02:01:01', 'A*03:12', 'B*07:02:01', 'B*15:01:01', 'C*03:03:01', 'C*07:02:01', 'DRB1*04:01:01', 'DRB1*14:54:01', 'DQB1*05:03:01', 'DQB1*03:02:01'], ['SRR13280683', 'A*02:01:01', 'NA', 'B*15:01:01', 'B*57:01:01', 'C*06:02:01', 'C*03:04:01', 'DRB1*04:01:01', 'NA', 'DQB1*03:02:01', 'DQB1*03:01:01'], ['SRR5252837', 'A*11:01:01', 'A*02:01:01', 'B*18:01:01', 'B*27:05:02', 'C*01:85', 'C*07:01:01', 'DRB1*13:01:01', 'DRB1*01:01:01', 'DQB1*06:03:01', 'DQB1*05:01:01'], ['SRR5252845', 'A*26:16', 'A*02:01:01', 'B*40:01:02', 'B*51:01:01', 'C*03:04:01', 'C*14:02:01', 'DRB1*15:10', 'DRB1*13:09', 'DQB1*06:03:01', 'DQB1*06:02:01'], ['SRR5252859', 'A*03:01:01', 'A*01:01:01', 'B*08:01:01', 'B*35:01:01', 'C*04:01:01', 'C*07:01:01', 'NA', 'NA', 'NA', 'NA'], ['SRR5252860', 'A*03:12', 'A*01:01:01', 'B*08:01:11', 'B*07:02:03', 'C*07:16', 'C*07:02:01', 'DRB1*08:45', 'NA', 'DQB1*04:02:01', 'NA']]

In [17]:
import pandas as pd
df = pd.DataFrame(new_data)
df

,0,1,2,3,4,5,6,7,8,9,10
0,ERR,A,A.1,B,B.1,C,C.1,DRB1,DRB1.1,DQB1,DQB1.1
1,SRR13280655,A*02:01:01,A*03:01:01,B*40:01:02,B*15:01:01,C*03:04:01,C*12:04:01,DRB1*03:01:01,DRB1*04:01:01,DQB1*03:02:01,DQB1*02:01:01
2,SRR13280666,A*02:01:01,A*03:01:01,B*35:01:01,B*44:09,C*04:01:01,C*05:01:01,DRB1*04:01:01,DRB1*01:01:01,DQB1*05:01:01,DQB1*03:01:01
3,SRR13280675,A*02:01:01,A*03:12,B*07:02:01,B*15:01:01,C*03:03:01,C*07:02:01,DRB1*04:01:01,DRB1*14:54:01,DQB1*05:03:01,DQB1*03:02:01
4,SRR13280683,A*02:01:01,NA,B*15:01:01,B*57:01:01,C*06:02:01,C*03:04:01,DRB1*04:01:01,NA,DQB1*03:02:01,DQB1*03:01:01
5,SRR5252837,A*11:01:01,A*02:01:01,B*18:01:01,B*27:05:02,C*01:85,C*07:01:01,DRB1*13:01:01,DRB1*01:01:01,DQB1*06:03:01,DQB1*05:01:01
6,SRR5252845,A*26:16,A*02:01:01,B*40:01:02,B*51:01:01,C*03:04:01,C*14:02:01,DRB1*15:10,DRB1*13:09,DQB1*06:03:01,DQB1*06:02:01
7,SRR5252859,A*03:01:01,A*01:01:01,B*08:01:01,B*35:01:01,C*04:01:01,C*07:01:01,NA,NA,NA,NA
8,SRR5252860,A*03:12,A*01:01:01,B*08:01:11,B*07:02:03,C*07:16,C*07:02:01,DRB1*08:45,NA,DQB1*04:02:01,NA

In [18]:
df.to_csv('../read_length/standard/hlahd_76.csv',index=False)